@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Poppins:wght@600&family=Roboto+Flex:opsz,wght@8..144,700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.menu{
    margin-top: 3rem;
    margin-left: 4rem;
    margin-right: 4rem;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.head p{
        text-decoration: underline;
        font-size: xxx-large;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
}
.text{
    font-size: larger;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.text a{
    color: white;
    padding: 0.5rem;
    border-radius: 20px;
    background-color: black;


}
.icon img{
    height: 2rem;
    width: 2rem;
}

/* .container{
    border: 1px solid black;
    background-color: yellow;
    height: 700px;
    width: 504px;
    display: grid;
    grid-template-rows: 30px 1fr 30px;
    grid-template-columns: 100px 400px;

    grid-gap: 3px;
    grid-template-areas: 
    "hd hd"
    "side main"
    "ft ft";
}
.box{
    border: 3px solid rebeccapurple;
    background-color: aquamarine;
}
#header{
    grid-area: hd;
}
#footer{
    grid-area: ft;
}
#sidebar{
    grid-area: side;
}
#content{
    grid-area: main;
} */