*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
wrapper{
    height: 100vh;
}
.container{
    color: white;
    background-color: wheat;
    height: 100vh;
    
    display: grid;
    overflow: auto;
    grid-template-columns: 10rem 1fr 1fr 9rem;
    grid-template-rows: 4rem 1fr 3rem;

}
.box{
    background-color: darkgreen;
    height: auto;
    width: auto;
    border: 1px solid white;

}
#box1,#box5{
    grid-column-start: 1;
    grid-column-end: 5;
}
 #box3{ 
    grid-column-start: 2;
    grid-column-end: 4;
} 
