.container{
    background-color: brown;
    height: 500px;
    border: 3px solid black;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:repeat(4,1fr);
    gap: 5px;
    overflow: auto;
}
.box{
    background-color: aqua;
    border: 3px solid black;
    width: auto;
    height: 80px;
}
#box1{
    grid-column-start: 1;
    grid-column-end: 3;
}